<div class="page-title">
    <h1><%= @business.name %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Businesses',  businesses_path %></li>
        <li>
          <span class="show-for-sr">Current: </span> <%= @business.name %>
        </li>
      </ul>
    </nav>
</div>

<div class="row">
    <div class="medium-7 columns">
        <div class="callout card">
            <div class="callout-header">
                <div class ="float-right">
                    <%= link_to '<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Update'.html_safe,  edit_business_path, class: "button secondary small" %>
                    <%= link_to '<i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete'.html_safe, @business, class: "button secondary small", method: :delete,
                                  data: { confirm: "You sure?" } %>
                </div>

                <h4>Stats</h4>
            </div>
            <div class="callout-table">
                
                <table>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-briefcase fa-fw"></i></div></td>
                        <td>
                            <%= @business.name %><br>
                            <small>Business Name</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-question fa-fw"></i></div></td>
                        <td>
                            <%= @business.vertical %><br>
                            <small>Business Vertical</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-map-marker fa-fw"></i></div></td>
                        <td>
                            <%= @business.address %><br>
                            <small>Business Address</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-link fa-fw"></i></div></td>
                        <td>
                            <%= @business.url %><br>
                            <small>Business URL</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-link fa-fw"></i></div></td>
                        <td>
                            <%= @business.branding %><br>
                            <small>Client Of</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <%= render 'phase1s/latestByBusiness' %>
    </div>
    <div class="medium-4 columns">
        <%= render 'phase2s/latestByBusiness' %>
    </div>
    <div class="medium-4 columns">
        <%= render 'phase3s/latestByBusiness' %>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <%= render 'phase4s/latestByBusiness' %>
    </div>
</div>