<div class="callout-table">
    <table>
         <tr>
            <th class="narrow"><%= f.label :blog, "Does your website have a blog?" %></th>
            <td>
                <%= f.radio_button :blog, 'no' %> 
                <%= f.label :blog, 'No', :value => 'no' %>
                <%= f.radio_button :blog, 'yes' %>
                <%= f.label :blog, 'Yes', :value => 'yes' %>
                <%= f.radio_button :blog, 'n/a' %>
                <%= f.label :blog, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
         <tr>
            <th class="narrow"><%= f.label :video, "Does your website have a video?" %></th>
            <td>
                <%= f.radio_button :video, 'no' %> 
                <%= f.label :video, 'No', :value => 'no' %>
                <%= f.radio_button :video, 'yes' %>
                <%= f.label :video, 'Yes', :value => 'yes' %>
                <%= f.radio_button :video, 'n/a' %>
                <%= f.label :video, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
         <tr>
            <th class="narrow"><%= f.label :sslcertificate, "Does your website have an SSL certificate?" %></th>
            <td>
                <%= f.radio_button :sslcertificate, 'no' %> 
                <%= f.label :sslcertificate, 'No', :value => 'no' %>
                <%= f.radio_button :sslcertificate, 'yes' %>
                <%= f.label :sslcertificate, 'Yes', :value => 'yes' %>
                <%= f.radio_button :sslcertificate, 'n/a' %>
                <%= f.label :sslcertificate, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
         <tr>
            <th class="narrow"><%= f.label :duplicateSites, "Do you have any duplicate sites or URLs being indexed by the search engines?" %></th>
            <td>
                <%= f.radio_button :duplicateSites, 'no' %> 
                <%= f.label :duplicateSites, 'No', :value => 'no' %>
                <%= f.radio_button :duplicateSites, 'yes' %>
                <%= f.label :duplicateSites, 'Yes', :value => 'yes' %>
                <%= f.radio_button :duplicateSites, 'n/a' %>
                <%= f.label :duplicateSites, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
         <tr>
            <th class="narrow"><%= f.label :friendlyNav, "Is your navigation user friendly?" %></th>
            <td>
                <%= f.radio_button :friendlyNav, 'no' %> 
                <%= f.label :friendlyNav, 'No', :value => 'no' %>
                <%= f.radio_button :friendlyNav, 'yes' %>
                <%= f.label :friendlyNav, 'Yes', :value => 'yes' %>
                <%= f.radio_button :friendlyNav, 'n/a' %>
                <%= f.label :friendlyNav, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
         <tr>
            <th class="narrow"><%= f.label :metaKeywords, "Does your website have meta keywords?" %></th>
            <td>
                <%= f.radio_button :metaKeywords, 'no' %> 
                <%= f.label :metaKeywords, 'No', :value => 'no' %>
                <%= f.radio_button :metaKeywords, 'yes' %>
                <%= f.label :metaKeywords, 'Yes', :value => 'yes' %>
                <%= f.radio_button :metaKeywords, 'n/a' %>
                <%= f.label :metaKeywords, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
         <tr>
            <th class="narrow"><%= f.label :clickToCall, "Does your website have a click to call button on a mobile device?" %></th>
            <td>
                <%= f.radio_button :clickToCall, 'no' %> 
                <%= f.label :clickToCall, 'No', :value => 'no' %>
                <%= f.radio_button :clickToCall, 'yes' %>
                <%= f.label :clickToCall, 'Yes', :value => 'yes' %>
                <%= f.radio_button :clickToCall, 'n/a' %>
                <%= f.label :clickToCall, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        
    </table>
</div>