<div class="page-title">
    <h1>Phase 4</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li>Phase 4</li>
        <li>
          <span class="show-for-sr">Current: </span> All
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4>All Phase 4</h4>
    </div>
    <div class="callout-table">
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Business Name</th>
                    <th>Title Keywords</th>
                    <th>Copy Keywords</th>
                    <th>Fresh Content</th>
                    <th>Images Named</th>
                    <th>Social Media</th>
                    <th>Analytics</th>
                    <th>Search Console</th>
                    <th>Local Business</th>
                    <th>XML Sitemap</th>
                    <th>Visitor Sitemap</th>
                    <th>Internal Audit</th>
                    <th>Contact Form</th>
                    <th>Map</th>
                </tr>
            </thead>
            
            <tbody>
                <% @phase4s.each do |phase4| %>
                    <% @business = Business.where(:id => phase4.business_id).first %>
                    
                    <tr>
                        <td><%= link_to phase4.created_at.to_formatted_s(:short),business_phase4_path(@business, phase4)  %></td>
                        <td>
                            <%= @business.name %>
                        </td>
                        <td><%= phase4.titleHasKeywords %></td>
                        <td><%= phase4.copyHasKeywords %></td>
                        <td><%= phase4.freshContent %></td>
                        <td><%= phase4.imagesNamed %></td>
                        <td><%= phase4.socialMedia %></td>
                        <td><%= phase4.googleAnalytics %></td>
                        <td><%= phase4.webmasterTools %></td>
                        <td><%= phase4.localBusiness %></td>
                        <td><%= phase4.xmlSitemap %></td>
                        <td><%= phase4.visitorSitemap %></td>
                        <td><%= phase4.internalAudit %></td>
                        <td><%= phase4.contactForm %></td>
                        <td><%= phase4.map %></td>
                    </tr>
                <% end %>
            </tbody>
            
        </table>
    </div>
</div>