<div class="page-title">
    <h1>Phase 4</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li>Phase 4</li>
        <li>
          <span class="show-for-sr">Current: </span> All
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4>All Phase 4</h4>
    </div>
    <div class="callout-table">
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Business Name</th>
                    <th>Blog</th>
                    <th>Video</th>
                    <th>SSL Certificate</th>
                    <th>Duplicate Site Free</th>
                    <th>Friendly Nav</th>
                    <th>Meta Keywords</th>
                    <th>Click To Call</th>
                </tr>
            </thead>
            
            <tbody>
                <% @phase4s.each do |phase4| %>
                    <% @business = Business.where(:id => phase4.business_id).first %>
                    
                    <tr>
                        <td><%= link_to phase4.created_at.to_formatted_s(:short),business_phase4_path(@business, phase4)  %></td>
                        <td>
                            <%= @business.name %>
                        </td>
                        <td><%= phase4.blog %></td>
                        <td><%= phase4.video %></td>
                        <td><%= phase4.sslcertificate %></td>
                        <td><%= phase4.duplicateSites %></td>
                        <td><%= phase4.friendlyNav %></td>
                        <td><%= phase4.metaKeywords %></td>
                        <td><%= phase4.clickToCall %></td>
                    </tr>
                <% end %>
            </tbody>
            
        </table>
    </div>
</div>