<% @business = Business.where(:id => @phase2.business_id).first %>

<div class="page-title">
    <h1><%= @business.name %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Businesses',  businesses_path %></li>
        <li>
            <%= link_to @business.name, business_path(@business) %>
        </li>
        <li>
            <%= link_to 'Phase 2',  @phase2 %>
        </li>
        <li>
          <span class="show-for-sr">Current: </span> Editing
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4>Phase 2 Details</h4>
    </div>
    <div class="callout-table">
        
        <%= form_for @phase2 do |f| %>
        
            <table>
                <tr>
                    <th class="narrow"><%= f.label :copyHasKeywords, "On-site copy contains keywords and locations?" %></th>
                    <td>
                        <%= f.radio_button :copyHasKeywords, 'no' %> 
                        <%= f.label :copyHasKeywords, 'No', :value => 'no' %>
                        <%= f.radio_button :copyHasKeywords, 'yes' %>
                        <%= f.label :copyHasKeywords, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :copyHasKeywords, 'n/a' %>
                        <%= f.label :copyHasKeywords, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :freshContent, "Fresh content? Which pages?" %></th>
                    <td>
                        <%= f.radio_button :freshContent, 'no' %> 
                        <%= f.label :freshContent, 'No', :value => 'no' %>
                        <%= f.radio_button :freshContent, 'yes' %>
                        <%= f.label :freshContent, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :freshContent, 'n/a' %>
                        <%= f.label :freshContent, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :imagesNamed, "Images named and tagged?" %></th>
                    <td>
                        <%= f.radio_button :imagesNamed, 'no' %> 
                        <%= f.label :imagesNamed, 'No', :value => 'no' %>
                        <%= f.radio_button :imagesNamed, 'yes' %>
                        <%= f.label :imagesNamed, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :imagesNamed, 'n/a' %>
                        <%= f.label :imagesNamed, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :socialMedia, "Social media profile integrated?" %></th>
                    <td>
                        <%= f.radio_button :socialMedia, 'no' %> 
                        <%= f.label :socialMedia, 'No', :value => 'no' %>
                        <%= f.radio_button :socialMedia, 'yes' %>
                        <%= f.label :socialMedia, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :socialMedia, 'n/a' %>
                        <%= f.label :socialMedia, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :googleAnalytics, "Google Analytics?" %></th>
                    <td>
                        <%= f.radio_button :googleAnalytics, 'no' %> 
                        <%= f.label :googleAnalytics, 'No', :value => 'no' %>
                        <%= f.radio_button :googleAnalytics, 'yes' %>
                        <%= f.label :googleAnalytics, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :googleAnalytics, 'n/a' %>
                        <%= f.label :googleAnalytics, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :webmasterTools, "Google Webmaster Tools?" %></th>
                    <td>
                        <%= f.radio_button :webmasterTools, 'no' %> 
                        <%= f.label :webmasterTools, 'No', :value => 'no' %>
                        <%= f.radio_button :webmasterTools, 'yes' %>
                        <%= f.label :webmasterTools, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :webmasterTools, 'n/a' %>
                        <%= f.label :webmasterTools, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :localBusiness, "Local business schema markup?" %></th>
                    <td>
                        <%= f.radio_button :localBusiness, 'no' %> 
                        <%= f.label :localBusiness, 'No', :value => 'no' %>
                        <%= f.radio_button :localBusiness, 'yes' %>
                        <%= f.label :localBusiness, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :localBusiness, 'n/a' %>
                        <%= f.label :localBusiness, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <td><%= f.submit 'Submit', class: "button secondary" %></td>
                </tr>
            </table>
        
        <% end %>
        
    </div>
</div>