<%= link_to '<i class="fa fa-file fa-fw" aria-hidden="true"></i> Online Report'.html_safe,  display_path(phase: "2", id: @phase2.id ), class: "button secondary float-right" %>


<div class="page-title">
    <h1><%= @phase2.created_at.to_formatted_s(:long)  %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Businesses',  businesses_path %></li>
        <li>
            <% @business = Business.where(:id => @phase2.business_id).first %>
            <%= link_to @business.name, business_path(@business) %>
        </li>
        <li>
          <span class="show-for-sr">Current: </span> Phase 2
        </li>
      </ul>
    </nav>
</div>

<div class="row">
    <div class="medium-8 columns">
        <div class="callout card">
            <div class="callout-header">
                <div class ="float-right">
                    <%= link_to '<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Update'.html_safe,  edit_phase2_path, class: "button secondary small" %>
                    <%= link_to '<i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete'.html_safe, "#", method: :delete, class: "button secondary small",  data: { confirm: "You sure?" } %>
                </div>
                
                <h4><i class="fa fa-pie-chart fa-fw" aria-hidden="true"></i> Phase 2</h4>
            </div>
            <div class="callout-table">
                
                <table>
                <tr>
                    <th class="narrow">On-site copy contains keywords and locations?</th>
                    <td><%= @phase2.copyHasKeywords %></td>
                </tr>
                <tr>
                    <th class="narrow">Fresh content? Which pages?</th>
                    <td><%= @phase2.freshContent %></td>
                </tr>
                <tr>
                    <th class="narrow">Images named and tagged?</th>
                    <td><%= @phase2.imagesNamed %></td>
                </tr>
                <tr>
                    <th class="narrow">Social media profile integrated?</th>
                    <td><%= @phase2.socialMedia %></td>
                </tr>
                <tr>
                    <th class="narrow">Google Analytics?</th>
                    <td><%= @phase2.googleAnalytics %></td>
                </tr>
                <tr>
                    <th class="narrow">Google Webmaster Tools?</th>
                    <td><%= @phase2.webmasterTools %></td>
                </tr>
                <tr>
                    <th class="narrow">Local business schema markup?</th>
                    <td><%= @phase2.localBusiness %></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="medium-4 columns">
        <%= render 'phase2s/scoreCard' %>
    </div>
</div>