<div class="page-title">
    <h1>Users</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        
            <li><%= link_to 'Users',  users_path %></li>
    
      </ul>
    </nav>
</div>


<div class="callout card">
    <div class="callout-header">
        <% if (current_user.userrank == 'admin')  %>
          <%= link_to '<i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i> New'.html_safe,  new_user_path, class: "button secondary small float-right" %>
        <% end %>
        All Users
    </div>
    
   <div class="callout-table">
     
     <table id="filterTable">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Rank</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
              </tr>
          </thead>
          <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= link_to user.username, user %></td>
                        <td><%= user.email  %></td>
                        <td><%= user.userrank %></td>
                        <td><%= link_to 'Edit', edit_user_path(user) %></td>
                        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
            
      </table>
   
   </div>
   
</div>



<script>
    $(document).ready(function() {
        $('#filterTable').DataTable( {
            "lengthMenu": [ [10, 50, 100, 200,300,400,500,600,700,800,900, -1], [10, 50, 100, 200,300,400,500,600,700,800,900, "All"] ],
            "language": {
                "lengthMenu": "Show _MENU_",
                "search": "Search",
                "paginate": {
                    "next": "&raquo;",
                    "previous": "&laquo;"
                }
            },
            "pagingType": "simple_numbers",
            "columns": [
                null,
                null,
                null,
                { "orderable": false, "searchable": false },
                { "orderable": false, "searchable": false }
              ]
        });
    });
</script>
   
