<div class="page-title">
    <h1><%= @user.username %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
            <li>Users</li>
        <li>
          <span class="show-for-sr">Current: </span> <%= @user.username %>
        </li>
      </ul>
    </nav>
</div>


<div class="row">
    <div class="small-12 columns">
        <div class="callout card">
            <div class="callout-header">
                <div class ="float-right">
                  <% if (current_user.userrank == 'admin') || (current_user.id == @user.id) %>
                    <%= link_to '<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Update'.html_safe,  edit_user_path, class: "button secondary small" %>
                  <% end %>      
                  <% if (current_user.userrank == 'admin')  %>
                    <%= link_to '<i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete'.html_safe, @user, class: "button secondary small", method: :delete,
                      data: { confirm: "You sure?" } %>
                  <% end %>
                </div>

                <h4>Stats</h4>
            </div>
            <div class="callout-table">
                
                <table>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-user fa-fw"></i></div></td>
                        <td>
                            <%= @user.username %><br>
                            <small>User Name</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-envelope fa-fw"></i></div></td>
                        <td>
                            <%= @user.email %><br>
                            <small>User Email</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="narrow"><div class="icon-circle"><i class="fa fa-question fa-fw"></i></div></td>
                        <td>
                            <%= @user.userrank %><br>
                            <small>User Rank</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>