<div class="callout-table">
    <table>
        <tr>
            <th class="narrow"><%= f.label :xmlSitemap, "XML Sitemap" %></th>
            <td>
                <%= f.radio_button :xmlSitemap, 'no' %> 
                <%= f.label :xmlSitemap, 'No', :value => 'no' %>
                <%= f.radio_button :xmlSitemap, 'yes' %>
                <%= f.label :xmlSitemap, 'Yes', :value => 'yes' %>
                <%= f.radio_button :xmlSitemap, 'n/a' %>
                <%= f.label :xmlSitemap, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :visitorSitemap, "Visitor Sitemap" %></th>
            <td>
                <%= f.radio_button :visitorSitemap, 'no' %> 
                <%= f.label :visitorSitemap, 'No', :value => 'no' %>
                <%= f.radio_button :visitorSitemap, 'yes' %>
                <%= f.label :visitorSitemap, 'Yes', :value => 'yes' %>
                <%= f.radio_button :visitorSitemap, 'n/a' %>
                <%= f.label :visitorSitemap, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :internalAudit, "Internal Link Audit" %></th>
            <td>
                <%= f.radio_button :internalAudit, 'no' %> 
                <%= f.label :internalAudit, 'No', :value => 'no' %>
                <%= f.radio_button :internalAudit, 'yes' %>
                <%= f.label :internalAudit, 'Yes', :value => 'yes' %>
                <%= f.radio_button :internalAudit, 'n/a' %>
                <%= f.label :internalAudit, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :contactForm, "Contact Form" %></th>
            <td>
                <%= f.radio_button :contactForm, 'no' %> 
                <%= f.label :contactForm, 'No', :value => 'no' %>
                <%= f.radio_button :contactForm, 'yes' %>
                <%= f.label :contactForm, 'Yes', :value => 'yes' %>
                <%= f.radio_button :contactForm, 'n/a' %>
                <%= f.label :contactForm, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :map, "Map" %></th>
            <td>
                <%= f.radio_button :map, 'no' %> 
                <%= f.label :map, 'No', :value => 'no' %>
                <%= f.radio_button :map, 'yes' %>
                <%= f.label :map, 'Yes', :value => 'yes' %>
                <%= f.radio_button :map, 'n/a' %>
                <%= f.label :map, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :favicon, "Favicon" %></th>
            <td>
                <%= f.radio_button :favicon, 'no' %> 
                <%= f.label :favicon, 'No', :value => 'no' %>
                <%= f.radio_button :favicon, 'yes' %>
                <%= f.label :favicon, 'Yes', :value => 'yes' %>
                <%= f.radio_button :favicon, 'n/a' %>
                <%= f.label :favicon, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :flashFree, "Flash Free" %></th>
            <td>
                <%= f.radio_button :flashFree, 'no' %> 
                <%= f.label :flashFree, 'No', :value => 'no' %>
                <%= f.radio_button :flashFree, 'yes' %>
                <%= f.label :flashFree, 'Yes', :value => 'yes' %>
                <%= f.radio_button :flashFree, 'n/a' %>
                <%= f.label :flashFree, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
    </table>
</div>