<div class="page-title">
    <h1><%= @phase3.created_at.to_formatted_s(:long)  %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Businesses',  businesses_path %></li>
        <li><%= link_to @business.name, business_path(@business) %></li>
        <li><%= link_to 'Phase 3',  business_phase3_url(@business, @phase3) %></li>
        <li>
          <span class="show-for-sr">Current: </span> Editing
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4><i class="fa fa-puzzle-piece fa-fw" aria-hidden="true"></i> Phase 3: Editing</h4>
    </div>
    
     <%= form_for @phase3, url: business_phase3_path(@business, @phase3), method: :patch do |f| %>
         <%= render :partial => "formQs", :locals=>{:f=>f} %>
     
        <div class="callout-footer padded">
            <%= f.submit 'Submit', class: "button secondary" %>
        </div>
    <% end %>

</div>