<% @business = Business.where(:id => @phase3.business_id).first %>

<div class="page-title">
    <h1><%= @business.name %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Businesses',  businesses_path %></li>
        <li>
            <%= link_to @business.name, business_path(@business) %>
        </li>
        <li>
            <%= link_to 'Phase 3',  @phase3 %>
        </li>
        <li>
          <span class="show-for-sr">Current: </span> Editing
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4>Phase 3 Details</h4>
    </div>
        
    <%= form_for @phase3 do |f| %>
        <div class="callout-table">
            <table>
                <tr>
                    <th class="narrow"><%= f.label :xmlSitemap, "XML Sitemap" %></th>
                    <td>
                        <%= f.radio_button :xmlSitemap, 'no' %> 
                        <%= f.label :xmlSitemap, 'No', :value => 'no' %>
                        <%= f.radio_button :xmlSitemap, 'yes' %>
                        <%= f.label :xmlSitemap, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :xmlSitemap, 'n/a' %>
                        <%= f.label :xmlSitemap, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :visitorSitemap, "Visitor Sitemap" %></th>
                    <td>
                        <%= f.radio_button :visitorSitemap, 'no' %> 
                        <%= f.label :visitorSitemap, 'No', :value => 'no' %>
                        <%= f.radio_button :visitorSitemap, 'yes' %>
                        <%= f.label :visitorSitemap, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :visitorSitemap, 'n/a' %>
                        <%= f.label :visitorSitemap, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :internalAudit, "Internal Link Audit" %></th>
                    <td>
                        <%= f.radio_button :internalAudit, 'no' %> 
                        <%= f.label :internalAudit, 'No', :value => 'no' %>
                        <%= f.radio_button :internalAudit, 'yes' %>
                        <%= f.label :internalAudit, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :internalAudit, 'n/a' %>
                        <%= f.label :internalAudit, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :contactForm, "Contact Form" %></th>
                    <td>
                        <%= f.radio_button :contactForm, 'no' %> 
                        <%= f.label :contactForm, 'No', :value => 'no' %>
                        <%= f.radio_button :contactForm, 'yes' %>
                        <%= f.label :contactForm, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :contactForm, 'n/a' %>
                        <%= f.label :contactForm, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
                <tr>
                    <th class="narrow"><%= f.label :map, "Map" %></th>
                    <td>
                        <%= f.radio_button :map, 'no' %> 
                        <%= f.label :map, 'No', :value => 'no' %>
                        <%= f.radio_button :map, 'yes' %>
                        <%= f.label :map, 'Yes', :value => 'yes' %>
                        <%= f.radio_button :map, 'n/a' %>
                        <%= f.label :map, 'N/A', :value => 'n/a' %>
                    </td>
                </tr>
            </table>
        </div>
    
        <div class="callout-footer padded">
            <%= f.submit 'Submit', class: "button secondary" %>
        </div>
    <% end %>
</div>