<div class="page-title">
    <h1>Phase 3</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li>Phase 3</li>
        <li>
          <span class="show-for-sr">Current: </span> All
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4>All Phase 3</h4>
    </div>
    <div class="callout-table">
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Business Name</th>
                    <th>XML Sitemap</th>
                    <th>Visitor Sitemap</th>
                    <th>Internal Audit</th>
                    <th>Contact Form</th>
                    <th>Map</th>
                </tr>
            </thead>
            
            <tbody>
                <% @phase3s.each do |phase3| %>
                    <tr>
                        <td><%= link_to phase3.created_at.to_formatted_s(:short), phase3_url(phase3)  %></td>
                        <td>
                            <% @business = Business.where(:id => phase3.business_id).first %>
                            <%= @business.name %>
                        </td>
                        <td><%= phase3.xmlSitemap %></td>
                        <td><%= phase3.visitorSitemap %></td>
                        <td><%= phase3.internalAudit %></td>
                        <td><%= phase3.contactForm %></td>
                        <td><%= phase3.map %></td>
                    </tr>
                <% end %>
            </tbody>
            
        </table>
    </div>
</div>