<div class="page-title">
    <h1>Dashboard</h1>
    <h4 class="subheader"> Current Status of Reports</h4>
</div>

<div class="row">
    <div class="medium-6 large-3 columns">
        <%= render 'businesses/count' %>
    </div>
    <div class="medium-6 large-3 columns">
        <%= render 'phase1s/count' %>
    </div>
    <div class="medium-6 large-3 columns">
        <%= render 'phase2s/count' %>
    </div>
    <div class="medium-6 large-3 columns">
        <%= render 'phase3s/count' %>
    </div>
    
</div>


<div class="row">
    <div class="medium-6 columns">
        <%= render 'businesses/latest' %>
    </div>
    <div class="medium-6 columns">
        <%= render 'contacts/latest' %>
    </div>
    
    
</div>