<div class="page-title">
    <h1>Dashboard</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li>
          <span class="show-for-sr">Current: </span> Status of Reports
        </li>
      </ul>
    </nav>
</div>

<div class="row">
    <div class="medium-6 large-3 columns">
        <%= render 'businesses/count' %>
    </div>
    <div class="medium-6 large-3 columns">
        <%= render 'phase1s/count' %>
    </div>
    <div class="medium-6 large-3 columns">
        <%= render 'phase2s/count' %>
    </div>
    <div class="medium-6 large-3 columns">
        <%= render 'phase3s/count' %>
    </div>
    
</div>


<div class="row">
    <div class="medium-7 columns">
        <%= render 'businesses/latest' %>
    </div>
    <div class="medium-5 columns">
        <%= render 'contacts/latest' %>
    </div>
</div>

<div class="row">
      <div class="medium-7 columns">
        <%= render 'phase1s/latest' %>
        <%= render 'phase2s/latest' %>
        <%= render 'phase3s/latest' %>
    </div>  
    
</div>