<% branding = "" %>
<% if params[:phase] == '1' %>
    <% branding  = Business.find(Phase1.where(:id => params[:id]).first.business_id).branding; %>
<% elsif params[:phase] == '2' %>
    <% branding  = Business.find(Phase2.where(:id => params[:id]).first.business_id).branding; %>
<% elsif params[:phase] == '3' %>
    <% branding  = Business.find(Phase3.where(:id => params[:id]).first.business_id).branding; %>
<% elsif params[:phase] == '4' %>
    <% branding  = Business.find(Phase4.where(:id => params[:id]).first.business_id).branding; %>
<% else %>
<% end %>

<div class="report-header <%= branding %>">
    <h1>Phase <%= params[:phase] %></h1>
</div>

<% if params[:phase] == '1' %>
    <%= render 'phase1s/report' %>
<% elsif params[:phase] == '2' %>
    <%= render 'phase2s/report' %>
<% elsif params[:phase] == '3' %>
    <%= render 'phase3s/report' %>
<% elsif params[:phase] == '4' %>
    <%= render 'phase4s/report' %>
<% else %>

Woah there! You're not supposed to be here!


<% end %>