<% @headers = @phase1.headers.all %>

<% if @headers.length %>
 <hr class="phaseHR">
<% end %>

<% @headers.each do |header| %>

 <div class="callout card">
    <div class="callout-header">
        <% if (current_user.userrank == 'admin') || (current_user.userrank == 'seo')  %>
            <div class ="float-right">
                <%= link_to '<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit'.html_safe,  edit_header_path(header.id), class: "button secondary small" %>
                <%= link_to '<i class="fa fa-trash fa-fw" aria-hidden="true"></i> Delete'.html_safe, header, method: :delete, class: "button secondary small" %>
            </div>
        <% end %>
        
        <h4><i class="fa fa-file-o fa-fw" aria-hidden="true"></i> Page: <%= header.pageName %></h4>
    </div>
    <div class="callout-table">
        <table>
            <tr>
                <th class="narrow">Page Name</th>
                <td><%= header.pageName %></td>
            </tr>
            <tr>
                <th class="narrow">Page Title</th>
                <td><%= header.pageTitle %></td>
            </tr>
            <tr>
                <th class="narrow">Description</th>
                <td><%= header.pageDescript %></td>
            </tr>
            <tr>
                <th class="narrow">H1 Tags</th>
                <td><%= header.h1Tags %></td>
            </tr>
            <tr>
                <th class="narrow">H2 Tags</th>
                <td><%= header.h2Tags %></td>
            </tr>
        </table>
        
    </div>
</div>


<% end %>