<% @headers = Header.where(:phase1_id => @phase1.id ) %>

<% @headers.each do |header| %>
    
    <p>
        <strong class="blue">Page</strong> <%= header.pageName %> <br>
        <strong class="blue">New Title</strong> <%= header.pageTitle %> <br>
        <strong class="blue">New Description</strong> <%= header.pageDescript %> <br>
        <strong class="blue">H1</strong> <%= header.h1Tags %> <br>
        <strong class="blue">H2</strong> <%= header.h2Tags %>
    </p>

<% end %>