<div class="callout-table">
    <table>
        <tr>
            <th class="narrow"><%= f.label :mobileFriendly, "Mobile friendly?" %></th>
            <td>
                <%= f.radio_button :mobileFriendly, 'no' %> 
                <%= f.label :mobileFriendly, 'No', :value => 'no' %>
                <%= f.radio_button :mobileFriendly, 'yes' %>
                <%= f.label :mobileFriendly, 'Yes', :value => 'yes' %>
                <%= f.radio_button :mobileFriendly, 'n/a' %>
                <%= f.label :mobileFriendly, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :wwwOrNot, "www VS non-www" %></th>
            <td>
                <%= f.radio_button :wwwOrNot, 'no' %> 
                <%= f.label :wwwOrNot, 'No', :value => 'no' %>
                <%= f.radio_button :wwwOrNot, 'yes' %>
                <%= f.label :wwwOrNot, 'Yes', :value => 'yes' %>
                <%= f.radio_button :wwwOrNot, 'n/a' %>
                <%= f.label :wwwOrNot, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :napFormat, "NAP in the proper format?" %></th>
            <td>
                <%= f.radio_button :napFormat, 'no' %> 
                <%= f.label :napFormat, 'No', :value => 'no' %>
                <%= f.radio_button :napFormat, 'yes' %>
                <%= f.label :napFormat, 'Yes', :value => 'yes' %>
                <%= f.radio_button :napFormat, 'n/a' %>
                <%= f.label :napFormat, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :robotsTXT, "robot.txt?" %></th>
            <td>
                <%= f.radio_button :robotsTXT, 'no' %> 
                <%= f.label :robotsTXT, 'No', :value => 'no' %>
                <%= f.radio_button :robotsTXT, 'yes' %>
                <%= f.label :robotsTXT, 'Yes', :value => 'yes' %>
                <%= f.radio_button :robotsTXT, 'n/a' %>
                <%= f.label :robotsTXT, 'N/A', :value => 'n/a' %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :currentHomeTitle, "Current Home Page Title Tag" %></th>
            <td>
                <%= f.text_area :currentHomeTitle %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :currentHomeMeta, "Current Home Page Meta Description" %></th>
            <td>
                <%= f.text_area :currentHomeMeta %>
            </td>
        </tr>
        <tr>
            <th class="narrow"><%= f.label :googleTrends, "Google Trends Link" %></th>
            <td>
                <%= f.text_area :googleTrends %>
            </td>
        </tr>
    </table>
</div>