<% @phase1 = Phase1.where(:id => params[:id]).first %>


<div class="row lead-img"data-equalizer data-equalize-on="medium">
    <div class="medium-3 columns chart" data-equalizer-watch></div>
    <div class="medium-9 columns" data-equalizer-watch>
        <h1 class="business-name"><%= Business.find(@phase1.business_id).name %></h1>
        <p class="lead">Your website plays a major role in how you rank on various search engines. We reviewed your website to ensure it is optimized and that the keywords selected represent your business and your geographic location. Below you will find our recommendations and why we suggest them.</p>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <h3 class="text-center">About Title Tags</h3>
        
        <p class="lead">A title tag is the single most important on-site SEO element. This tells the search engines exactly what your website is about, what you do and where you are located. This is what a title tag shows up as in search results:</p>
        
        <%= image_tag("title.png", :class => "imgspace") %>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h3 class="text-center">About Description Tag</h3>
        
        <p class="lead">Descriptions tags are used to tell the searcher what they will find when they click on your website. This  tag serves the function of advertising copy, drawing readers to a website from the results. This is how a meta description shows up in search results:</p>
        
        <%= image_tag("meta.png", :class => "imgspace") %>
    </div>
</div>

<div class="pageBreak"></div>

<div class="row lead-img flip imgspace" data-equalizer data-equalize-on="medium">
    <h3 class="text-center">Why are Tags Important?</h3>
    <div class="medium-3 columns hex medium-push-9" data-equalizer-watch></div>
    <div class="medium-9 columns medium-pull-3" data-equalizer-watch>
        <p class="lead dark-grey">The search engines send “web spiders” out to crawl the web and report back website information. Google has thousands of these bots constantly searching through the internet, rebuilding and updating their index. The spiders look at the way in which the code for your website was written and use that information to help rank your website for certain phrases and keywords. What we do is read the code and make sure it is written properly for the spiders (and your clients!).</p>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Current Title and Meta</h2>
        
        <div class="imgspace">
            <p class="lead"><strong class="blue">Current Home Page Title Tag:</strong><br> <%= @phase1.currentHomeTitle %></p>
            
            <p class="lead"><strong class="blue">Current Home Page Meta Description:</strong><br> <%= @phase1.currentHomeMeta %></p>
        </div>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Google Trends</h2>
        
        <div class="imgspace">
            <%= @phase1.googleTrends.html_safe %>
        </div>
    </div>
</div>

<div class="pageBreak"></div>

<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Our Recommendations</h2>
        
        <%= render 'headers/report' %>
    </div>
</div>






<div class="pageBreak"></div>

<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Analysis</h2>
        
        <table class="scores">
            <tr>
                <th class="narrow">
                    <% if @phase1.mobileFriendly == 'yes' %>
                        <div class="score positive"></div>
                    <% elsif @phase1.mobileFriendly == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is your website mobile friendly?</h4>
                    <p>A mobile friendly website is critical in increasing traffic to your website.  In fact, if your website is not mobile friendly, Google may decide not to show you in mobile search results. According to Google, 94% of searchers use their phones to search for local information. If your site is not mobile friendly, potential customers may have a negative experience on your site and most likely will not convert to clients.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% if @phase1.wwwOrNot == 'yes' %>
                        <div class="score positive"></div>
                    <% elsif @phase1.wwwOrNot == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>www vs non www</h4>
                    <p>A proper redirect should be set up on your website so that whether a visitor types your domain with or without the “www,” they will be taken to the same place. If this redirect is not set up, the search engines will see two live versions of your website, which runs the risk of being penalized for duplicate content.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% if @phase1.napFormat == 'yes' %>
                        <div class="score positive"></div>
                    <% elsif @phase1.napFormat == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is your NAP (Name, Address, Phone Number) displayed on your website in the proper format?</h4>
                    <p>It is important that your business name, address and phone number are consistent across your website. This information should be on every page of your site, and should be easy for the visitor to find. Your phone number should also be in the header of your website, with a clear call to action, and your entire name, address and phone number should be in the footer.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% if @phase1.robotsTXT == 'yes' %>
                        <div class="score positive"></div>
                    <% elsif @phase1.robotsTXT == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is your site blocking web crawlers?</h4>
                    <p>Most websites have a file called robots.txt. This tells the “web crawlers” what they can and cannot crawl on your website. We will be checking to make sure your website is allowing all crawlers to access it in order to read your code. If they cannot access the coding of your website, it is likely you will not rank.</p>
                </td>
            </tr>
        </table>
    </div>
</div>


        
<%= render 'businesses/mobile' %>