<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SEO Report" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>

  <body>
    
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left reveal-for-medium" id="offCanvas" data-off-canvas>

        <!-- Close button -->
        <button class="close-button show-for-small-only" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        
        <div class="title">
          
          <%= link_to(image_tag("logo.png", :alt => "logo", :title => "Home"), dashboard_path ) %>
          
        </div>
        
        <div class="user-info">
          <i class="fa fa-user fa-4x" aria-hidden="true"></i>

          <h5>User Name</h5>
          <h6 class="subheader">User Rank</h6>
          
        </div>

        <!-- Menu -->
        <ul class="vertical menu">
          <li><%= link_to '<i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Dashboard'.html_safe, dashboard_path, class: cp(dashboard_path) %></li>
          <li><%= link_to '<i class="fa fa-briefcase fa-fw" aria-hidden="true"></i> Businesses'.html_safe, businesses_path, class: cp(businesses_path)  %></li>
          <li><%= link_to '<i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings'.html_safe, '#' %></li>
          <li><%= link_to '<i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> Help'.html_safe, help_path, class: cp(help_path) %></li>
          <li><%= link_to '<i class="fa fa-bug fa-fw" aria-hidden="true"></i> Found a bug?'.html_safe, '#' %></li>
          <li><%= link_to '<i class="fa fa-comments fa-fw" aria-hidden="true"></i> Contact'.html_safe,  new_contact_path, class: cp(new_contact_path) %></li>
        </ul>

      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        
        <!-- top-bar -->
        <div class="title-bar">
          <div class="title-bar-left">
              <ul class="menu">
            <!--<li><button class="menu-icon" type="button" data-open="offCanvas"></button></li>-->
            <li><a data-open="offCanvas"><i class="fa fa-bars fa-fw"></i></a></li>
           <li class="show-for-small-only"><span class="title-bar-title">SEO Report</span></li>
           
           <li class="no-border">
             <div class="search">
              <%= form_tag(businesses_path, :method => "get", id: "search-form") do %>
                <%= label_tag :search, '<i class="fa fa-search fa-lg fa-fw"></i>'.html_safe %>
                <%= text_field_tag :search, params[:search], :utf8 => nil %>
              <% end %>
             </div>
           </li>
             </ul>
          </div>
          <div class="title-bar-right">
            <ul class="menu">
              <li><%= link_to '<i class="fa fa-area-chart fa-fw"></i>'.html_safe, '#' %></li>
              <li><%= link_to 'User Name', '#' %></li>
              <li><%= link_to '<i class="fa fa-sign-out fa-fw"></i>'.html_safe, '#' %></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 columns">
            
            <% flash.each do |key,value| %>
              <%= content_tag :div, value, class: "callout #{key}" %>
            <% end %>
            
            
            <!-- Page content -->
            <%= yield %>
             
         
           </div>
         </div>
        
        
      </div>
    </div>
  </div>

   

  </body>
</html>
