<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= content_for?(:title) ? yield(:title) : "SEO Report" %></title>

    <%= stylesheet_link_tag    "application", media: "screen, print" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>

  <body class="splash">
    
    
        <div class="row">
          <div class="medium-10 medium-offset-1 columns">
            
            <% flash.each do |key,value| %>
              <%= content_tag :div, value, class: "callout #{key}" %>
            <% end %>
            
            <div class="callout card">
              <div class="callout-header">
                <div class="row">
                    <div class="small-6 columns">
                      <%= link_to(image_tag("logo-dark.png", :alt => "logo", :title => "Home"), "/") %>
                    </div>
                    
                    <div class="small-6 columns">
                      <ul class="menu align-right">
                        <li><a id="login" class="active">Log In</a></li>
                        <li><a id="signup">Sign Up</a></li>
                      </ul>
                    </div>
                  
                </div>
              </div>
              <div class="callout-body text-center">
            
                <div class="login">
                  <%= yield %>
                </div>
                
                <div class="signup">
                  <%= render 'users/signup' %>
                </div>
                
                

              </div>
            </div>
         
             
         
           </div>
         </div>
         
         <script>
            $('.callout-body .signup').hide();
              
           $('.menu #login').click(function() {
              $('.menu a').removeClass('active');
              $('.menu #login').addClass('active');
              
              $('.callout-body .login').show();
              $('.callout-body .signup').hide();
              
            });
            
           $('.menu #signup').click(function() {
              $('.menu a').removeClass('active');
              $('.menu #signup').addClass('active');
              
              $('.callout-body .login').hide();
              $('.callout-body .signup').show();
            });
           
         </script>

  </body>
</html>
